.text-indianred{color:#cd5c5c;}
.bg-indianred{background-color:#cd5c5c;}
.border-indianred{border: solid #cd5c5c;}

.text-lightcoral{color:#f08080;}
.bg-lightcoral{background-color:#f08080;}
.border-lightcoral{border: solid #f08080;}

.text-salmon{color:#fa8072;}
.bg-salmon{background-color:#fa8072;}
.border-salmon{border: solid #fa8072;}

.text-darksalmon{color:#e9967a;}
.bg-darksalmon{background-color:#e9967a;}
.border-darksalmon{border: solid #e9967a;}

.text-lightsalmon{color:#ffa07a;}
.bg-lightsalmon{background-color:#ffa07a;}
.border-lightsalmon{border: solid #ffa07a;}

.text-crimson{color:#dc143c;}
.bg-crimson{background-color:#dc143c;}
.border-crimson{border: solid #dc143c;}

.text-red{color:#ff0000;}
.bg-red{background-color:#ff0000;}
.border-red{border: solid #ff0000;}

.text-firebrick{color:#b22222;}
.bg-firebrick{background-color:#b22222;}
.border-firebrick{border: solid #b22222;}

.text-darkred{color:#8b0000;}
.bg-darkred{background-color:#8b0000;}
.border-darkred{border: solid #8b0000;}

.text-pink{color:#ffc0cb;}
.bg-pink{background-color:#ffc0cb;}
.border-pink{border: solid #ffc0cb;}

.text-lightpink{color:#ffb6c1;}
.bg-lightpink{background-color:#ffb6c1;}
.border-lightpink{border: solid #ffb6c1;}

.text-hotpink{color:#ff69b4;}
.bg-hotpink{background-color:#ff69b4;}
.border-hotpink{border: solid #ff69b4;}

.text-deeppink{color:#ff1493;}
.bg-deeppink{background-color:#ff1493;}
.border-deeppink{border: solid #ff1493;}

.text-mediumvioletred{color:#c71585;}
.bg-mediumvioletred{background-color:#c71585;}
.border-mediumvioletred{border: solid #c71585;}

.text-palevioletred{color:#db7093;}
.bg-palevioletred{background-color:#db7093;}
.border-palevioletred{border: solid #db7093;}

.text-lightsalmon{color:#ffa07a;}
.bg-lightsalmon{background-color:#ffa07a;}
.border-lightsalmon{border: solid #ffa07a;}

.text-coral{color:#ff7f50;}
.bg-coral{background-color:#ff7f50;}
.border-coral{border: solid #ff7f50;}

.text-tomato{color:#ff6347;}
.bg-tomato{background-color:#ff6347;}
.border-tomato{border: solid #ff6347;}

.text-orangered{color:#ff4500;}
.bg-orangered{background-color:#ff4500;}
.border-orangered{border: solid #ff4500;}

.text-darkorange{color:#ff8c00;}
.bg-darkorange{background-color:#ff8c00;}
.border-darkorange{border: solid #ff8c00;}

.text-orange{color:#ffa500;}
.bg-orange{background-color:#ffa500;}
.border-orange{border: solid #ffa500;}

.text-gold{color:#ffd700;}
.bg-gold{background-color:#ffd700;}
.border-gold{border: solid #ffd700;}

.text-yellow{color:#ffff00;}
.bg-yellow{background-color:#ffff00;}
.border-yellow{border: solid #ffff00;}

.text-lightyellow{color:#ffffe0;}
.bg-lightyellow{background-color:#ffffe0;}
.border-lightyellow{border: solid #ffffe0;}

.text-lemonchiffon{color:#fffacd;}
.bg-lemonchiffon{background-color:#fffacd;}
.border-lemonchiffon{border: solid #fffacd;}

.text-lightgoldenrodyellow{color:#fafad2;}
.bg-lightgoldenrodyellow{background-color:#fafad2;}
.border-lightgoldenrodyellow{border: solid #fafad2;}

.text-papayawhip{color:#ffefd5;}
.bg-papayawhip{background-color:#ffefd5;}
.border-papayawhip{border: solid #ffefd5;}

.text-moccasin{color:#ffe4b5;}
.bg-moccasin{background-color:#ffe4b5;}
.border-moccasin{border: solid #ffe4b5;}

.text-peachpuff{color:#ffdab9;}
.bg-peachpuff{background-color:#ffdab9;}
.border-peachpuff{border: solid #ffdab9;}

.text-palegoldenrod{color:#eee8aa;}
.bg-palegoldenrod{background-color:#eee8aa;}
.border-palegoldenrod{border: solid #eee8aa;}

.text-khaki{color:#f0e68c;}
.bg-khaki{background-color:#f0e68c;}
.border-khaki{border: solid #f0e68c;}

.text-darkkhaki{color:#bdb76b;}
.bg-darkkhaki{background-color:#bdb76b;}
.border-darkkhaki{border: solid #bdb76b;}

.text-lavender{color:#e6e6fa;}
.bg-lavender{background-color:#e6e6fa;}
.border-lavender{border: solid #e6e6fa;}

.text-thistle{color:#d8bfd8;}
.bg-thistle{background-color:#d8bfd8;}
.border-thistle{border: solid #d8bfd8;}

.text-plum{color:#dda0dd;}
.bg-plum{background-color:#dda0dd;}
.border-plum{border: solid #dda0dd;}

.text-violet{color:#ee82ee;}
.bg-violet{background-color:#ee82ee;}
.border-violet{border: solid #ee82ee;}

.text-orchid{color:#da70d6;}
.bg-orchid{background-color:#da70d6;}
.border-orchid{border: solid #da70d6;}

.text-fuchsia{color:#ff00ff;}
.bg-fuchsia{background-color:#ff00ff;}
.border-fuchsia{border: solid #ff00ff;}

.text-magenta{color:#ff00ff;}
.bg-magenta{background-color:#ff00ff;}
.border-magenta{border: solid #ff00ff;}

.text-mediumorchid{color:#ba55d3;}
.bg-mediumorchid{background-color:#ba55d3;}
.border-mediumorchid{border: solid #ba55d3;}

.text-mediumpurple{color:#9370db;}
.bg-mediumpurple{background-color:#9370db;}
.border-mediumpurple{border: solid #9370db;}

.text-rebeccapurple{color:#663399;}
.bg-rebeccapurple{background-color:#663399;}
.border-rebeccapurple{border: solid #663399;}

.text-blueviolet{color:#8a2be2;}
.bg-blueviolet{background-color:#8a2be2;}
.border-blueviolet{border: solid #8a2be2;}

.text-darkviolet{color:#9400d3;}
.bg-darkviolet{background-color:#9400d3;}
.border-darkviolet{border: solid #9400d3;}

.text-darkorchid{color:#9932cc;}
.bg-darkorchid{background-color:#9932cc;}
.border-darkorchid{border: solid #9932cc;}

.text-darkmagenta{color:#8b008b;}
.bg-darkmagenta{background-color:#8b008b;}
.border-darkmagenta{border: solid #8b008b;}

.text-purple{color:#800080;}
.bg-purple{background-color:#800080;}
.border-purple{border: solid #800080;}

.text-indigo{color:#4b0082;}
.bg-indigo{background-color:#4b0082;}
.border-indigo{border: solid #4b0082;}

.text-slateblue{color:#6a5acd;}
.bg-slateblue{background-color:#6a5acd;}
.border-slateblue{border: solid #6a5acd;}

.text-darkslateblue{color:#483d8b;}
.bg-darkslateblue{background-color:#483d8b;}
.border-darkslateblue{border: solid #483d8b;}

.text-mediumslateblue{color:#7b68ee;}
.bg-mediumslateblue{background-color:#7b68ee;}
.border-mediumslateblue{border: solid #7b68ee;}

.text-greenyellow{color:#adff2f;}
.bg-greenyellow{background-color:#adff2f;}
.border-greenyellow{border: solid #adff2f;}

.text-chartreuse{color:#7fff00;}
.bg-chartreuse{background-color:#7fff00;}
.border-chartreuse{border: solid #7fff00;}

.text-lawngreen{color:#7cfc00;}
.bg-lawngreen{background-color:#7cfc00;}
.border-lawngreen{border: solid #7cfc00;}

.text-lime{color:#00ff00;}
.bg-lime{background-color:#00ff00;}
.border-lime{border: solid #00ff00;}

.text-limegreen{color:#32cd32;}
.bg-limegreen{background-color:#32cd32;}
.border-limegreen{border: solid #32cd32;}

.text-palegreen{color:#98fb98;}
.bg-palegreen{background-color:#98fb98;}
.border-palegreen{border: solid #98fb98;}

.text-lightgreen{color:#90ee90;}
.bg-lightgreen{background-color:#90ee90;}
.border-lightgreen{border: solid #90ee90;}

.text-mediumspringgreen{color:#00fa9a;}
.bg-mediumspringgreen{background-color:#00fa9a;}
.border-mediumspringgreen{border: solid #00fa9a;}

.text-springgreen{color:#00ff7f;}
.bg-springgreen{background-color:#00ff7f;}
.border-springgreen{border: solid #00ff7f;}

.text-mediumseagreen{color:#3cb371;}
.bg-mediumseagreen{background-color:#3cb371;}
.border-mediumseagreen{border: solid #3cb371;}

.text-seagreen{color:#2e8b57;}
.bg-seagreen{background-color:#2e8b57;}
.border-seagreen{border: solid #2e8b57;}

.text-forestgreen{color:#228b22;}
.bg-forestgreen{background-color:#228b22;}
.border-forestgreen{border: solid #228b22;}

.text-green{color:#008000;}
.bg-green{background-color:#008000;}
.border-green{border: solid #008000;}

.text-darkgreen{color:#006400;}
.bg-darkgreen{background-color:#006400;}
.border-darkgreen{border: solid #006400;}

.text-yellowgreen{color:#9acd32;}
.bg-yellowgreen{background-color:#9acd32;}
.border-yellowgreen{border: solid #9acd32;}

.text-olivedrab{color:#6b8e23;}
.bg-olivedrab{background-color:#6b8e23;}
.border-olivedrab{border: solid #6b8e23;}

.text-olive{color:#808000;}
.bg-olive{background-color:#808000;}
.border-olive{border: solid #808000;}

.text-darkolivegreen{color:#556b2f;}
.bg-darkolivegreen{background-color:#556b2f;}
.border-darkolivegreen{border: solid #556b2f;}

.text-mediumaquamarine{color:#66cdaa;}
.bg-mediumaquamarine{background-color:#66cdaa;}
.border-mediumaquamarine{border: solid #66cdaa;}

.text-darkseagreen{color:#8fbc8b;}
.bg-darkseagreen{background-color:#8fbc8b;}
.border-darkseagreen{border: solid #8fbc8b;}

.text-lightseagreen{color:#20b2aa;}
.bg-lightseagreen{background-color:#20b2aa;}
.border-lightseagreen{border: solid #20b2aa;}

.text-darkcyan{color:#008b8b;}
.bg-darkcyan{background-color:#008b8b;}
.border-darkcyan{border: solid #008b8b;}

.text-teal{color:#008080;}
.bg-teal{background-color:#008080;}
.border-teal{border: solid #008080;}

.text-aqua{color:#00ffff;}
.bg-aqua{background-color:#00ffff;}
.border-aqua{border: solid #00ffff;}

.text-cyan{color:#00ffff;}
.bg-cyan{background-color:#00ffff;}
.border-cyan{border: solid #00ffff;}

.text-lightcyan{color:#e0ffff;}
.bg-lightcyan{background-color:#e0ffff;}
.border-lightcyan{border: solid #e0ffff;}

.text-paleturquoise{color:#afeeee;}
.bg-paleturquoise{background-color:#afeeee;}
.border-paleturquoise{border: solid #afeeee;}

.text-aquamarine{color:#7fffd4;}
.bg-aquamarine{background-color:#7fffd4;}
.border-aquamarine{border: solid #7fffd4;}

.text-turquoise{color:#40e0d0;}
.bg-turquoise{background-color:#40e0d0;}
.border-turquoise{border: solid #40e0d0;}

.text-mediumturquoise{color:#48d1cc;}
.bg-mediumturquoise{background-color:#48d1cc;}
.border-mediumturquoise{border: solid #48d1cc;}

.text-darkturquoise{color:#00ced1;}
.bg-darkturquoise{background-color:#00ced1;}
.border-darkturquoise{border: solid #00ced1;}

.text-cadetblue{color:#5f9ea0;}
.bg-cadetblue{background-color:#5f9ea0;}
.border-cadetblue{border: solid #5f9ea0;}

.text-steelblue{color:#4682b4;}
.bg-steelblue{background-color:#4682b4;}
.border-steelblue{border: solid #4682b4;}

.text-lightsteelblue{color:#b0c4de;}
.bg-lightsteelblue{background-color:#b0c4de;}
.border-lightsteelblue{border: solid #b0c4de;}

.text-powderblue{color:#b0e0e6;}
.bg-powderblue{background-color:#b0e0e6;}
.border-powderblue{border: solid #b0e0e6;}

.text-lightblue{color:#add8e6;}
.bg-lightblue{background-color:#add8e6;}
.border-lightblue{border: solid #add8e6;}

.text-skyblue{color:#87ceeb;}
.bg-skyblue{background-color:#87ceeb;}
.border-skyblue{border: solid #87ceeb;}

.text-lightskyblue{color:#87cefa;}
.bg-lightskyblue{background-color:#87cefa;}
.border-lightskyblue{border: solid #87cefa;}

.text-deepskyblue{color:#00bfff;}
.bg-deepskyblue{background-color:#00bfff;}
.border-deepskyblue{border: solid #00bfff;}

.text-dodgerblue{color:#1e90ff;}
.bg-dodgerblue{background-color:#1e90ff;}
.border-dodgerblue{border: solid #1e90ff;}

.text-cornflowerblue{color:#6495ed;}
.bg-cornflowerblue{background-color:#6495ed;}
.border-cornflowerblue{border: solid #6495ed;}

.text-mediumslateblue{color:#7b68ee;}
.bg-mediumslateblue{background-color:#7b68ee;}
.border-mediumslateblue{border: solid #7b68ee;}

.text-royalblue{color:#4169e1;}
.bg-royalblue{background-color:#4169e1;}
.border-royalblue{border: solid #4169e1;}

.text-blue{color:#0000ff;}
.bg-blue{background-color:#0000ff;}
.border-blue{border: solid #0000ff;}

.text-mediumblue{color:#0000cd;}
.bg-mediumblue{background-color:#0000cd;}
.border-mediumblue{border: solid #0000cd;}

.text-darkblue{color:#00008b;}
.bg-darkblue{background-color:#00008b;}
.border-darkblue{border: solid #00008b;}

.text-navy{color:#000080;}
.bg-navy{background-color:#000080;}
.border-navy{border: solid #000080;}

.text-midnightblue{color:#191970;}
.bg-midnightblue{background-color:#191970;}
.border-midnightblue{border: solid #191970;}

.text-cornsilk{color:#fff8dc;}
.bg-cornsilk{background-color:#fff8dc;}
.border-cornsilk{border: solid #fff8dc;}

.text-blanchedalmond{color:#ffebcd;}
.bg-blanchedalmond{background-color:#ffebcd;}
.border-blanchedalmond{border: solid #ffebcd;}

.text-bisque{color:#ffe4c4;}
.bg-bisque{background-color:#ffe4c4;}
.border-bisque{border: solid #ffe4c4;}

.text-navajowhite{color:#ffdead;}
.bg-navajowhite{background-color:#ffdead;}
.border-navajowhite{border: solid #ffdead;}

.text-wheat{color:#f5deb3;}
.bg-wheat{background-color:#f5deb3;}
.border-wheat{border: solid #f5deb3;}

.text-burlywood{color:#deb887;}
.bg-burlywood{background-color:#deb887;}
.border-burlywood{border: solid #deb887;}

.text-tan{color:#d2b48c;}
.bg-tan{background-color:#d2b48c;}
.border-tan{border: solid #d2b48c;}

.text-rosybrown{color:#bc8f8f;}
.bg-rosybrown{background-color:#bc8f8f;}
.border-rosybrown{border: solid #bc8f8f;}

.text-sandybrown{color:#f4a460;}
.bg-sandybrown{background-color:#f4a460;}
.border-sandybrown{border: solid #f4a460;}

.text-goldenrod{color:#daa520;}
.bg-goldenrod{background-color:#daa520;}
.border-goldenrod{border: solid #daa520;}

.text-darkgoldenrod{color:#b8860b;}
.bg-darkgoldenrod{background-color:#b8860b;}
.border-darkgoldenrod{border: solid #b8860b;}

.text-peru{color:#cd853f;}
.bg-peru{background-color:#cd853f;}
.border-peru{border: solid #cd853f;}

.text-chocolate{color:#d2691e;}
.bg-chocolate{background-color:#d2691e;}
.border-chocolate{border: solid #d2691e;}

.text-saddlebrown{color:#8b4513;}
.bg-saddlebrown{background-color:#8b4513;}
.border-saddlebrown{border: solid #8b4513;}

.text-sienna{color:#a0522d;}
.bg-sienna{background-color:#a0522d;}
.border-sienna{border: solid #a0522d;}

.text-brown{color:#a52a2a;}
.bg-brown{background-color:#a52a2a;}
.border-brown{border: solid #a52a2a;}

.text-maroon{color:#800000;}
.bg-maroon{background-color:#800000;}
.border-maroon{border: solid #800000;}

.text-white{color:#ffffff;}
.bg-white{background-color:#ffffff;}
.border-white{border: solid #ffffff;}

.text-snow{color:#fffafa;}
.bg-snow{background-color:#fffafa;}
.border-snow{border: solid #fffafa;}

.text-honeydew{color:#f0fff0;}
.bg-honeydew{background-color:#f0fff0;}
.border-honeydew{border: solid #f0fff0;}

.text-mintcream{color:#f5fffa;}
.bg-mintcream{background-color:#f5fffa;}
.border-mintcream{border: solid #f5fffa;}

.text-azure{color:#f0ffff;}
.bg-azure{background-color:#f0ffff;}
.border-azure{border: solid #f0ffff;}

.text-aliceblue{color:#f0f8ff;}
.bg-aliceblue{background-color:#f0f8ff;}
.border-aliceblue{border: solid #f0f8ff;}

.text-ghostwhite{color:#f8f8ff;}
.bg-ghostwhite{background-color:#f8f8ff;}
.border-ghostwhite{border: solid #f8f8ff;}

.text-whitesmoke{color:#f5f5f5;}
.bg-whitesmoke{background-color:#f5f5f5;}
.border-whitesmoke{border: solid #f5f5f5;}

.text-seashell{color:#fff5ee;}
.bg-seashell{background-color:#fff5ee;}
.border-seashell{border: solid #fff5ee;}

.text-beige{color:#f5f5dc;}
.bg-beige{background-color:#f5f5dc;}
.border-beige{border: solid #f5f5dc;}

.text-oldlace{color:#fdf5e6;}
.bg-oldlace{background-color:#fdf5e6;}
.border-oldlace{border: solid #fdf5e6;}

.text-floralwhite{color:#fffaf0;}
.bg-floralwhite{background-color:#fffaf0;}
.border-floralwhite{border: solid #fffaf0;}

.text-ivory{color:#fffff0;}
.bg-ivory{background-color:#fffff0;}
.border-ivory{border: solid #fffff0;}

.text-antiquewhite{color:#faebd7;}
.bg-antiquewhite{background-color:#faebd7;}
.border-antiquewhite{border: solid #faebd7;}

.text-linen{color:#faf0e6;}
.bg-linen{background-color:#faf0e6;}
.border-linen{border: solid #faf0e6;}

.text-lavenderblush{color:#fff0f5;}
.bg-lavenderblush{background-color:#fff0f5;}
.border-lavenderblush{border: solid #fff0f5;}

.text-mistyrose{color:#ffe4e1;}
.bg-mistyrose{background-color:#ffe4e1;}
.border-mistyrose{border: solid #ffe4e1;}

.text-gainsboro{color:#dcdcdc;}
.bg-gainsboro{background-color:#dcdcdc;}
.border-gainsboro{border: solid #dcdcdc;}

.text-lightgray{color:#d3d3d3;}
.bg-lightgray{background-color:#d3d3d3;}
.border-lightgray{border: solid #d3d3d3;}

.text-silver{color:#c0c0c0;}
.bg-silver{background-color:#c0c0c0;}
.border-silver{border: solid #c0c0c0;}

.text-darkgray{color:#a9a9a9;}
.bg-darkgray{background-color:#a9a9a9;}
.border-darkgray{border: solid #a9a9a9;}

.text-gray{color:#808080;}
.bg-gray{background-color:#808080;}
.border-gray{border: solid #808080;}

.text-dimgray{color:#696969;}
.bg-dimgray{background-color:#696969;}
.border-dimgray{border: solid #696969;}

.text-lightslategray{color:#778899;}
.bg-lightslategray{background-color:#778899;}
.border-lightslategray{border: solid #778899;}

.text-slategray{color:#708090;}
.bg-slategray{background-color:#708090;}
.border-slategray{border: solid #708090;}

.text-darkslategray{color:#2f4f4f;}
.bg-darkslategray{background-color:#2f4f4f;}
.border-darkslategray{border: solid #2f4f4f;}

.text-black{color:#000000;}
.bg-black{background-color:#000000;}
.border-black{border: solid #000000;}

