.body{
    background-image: url('/assets/img/fondo_1.jpg'); 
z-index: auto;
background-size: cover;
background-repeat: no-repeat; 
}
.card-img-top {
    height: 50%;
    object-fit: contain;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50%;
}

.card-text{
    white-space: pre-line;
}

.card-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px); /* Aplicar desenfoque al fondo dentro de la tarjeta */
    background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */            
}
.blur-card {
  background: rgba(255, 255, 255, 0.4); /* Fondo blanco transparente */
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
  border-radius: 15px; /* Bordes redondeados */
  padding: 30px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.form-control {
  border-radius: 10px; /* Bordes redondeados en los inputs */
}

.btn-primary {
  width: 100%;
  border-radius: 10px;
}

h5 {
  text-align: center;
  margin-bottom: 20px;
}